/* Bootstrap overrides */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

/* Header  */
#main-header {
    background-color: #333;
}

#main-header .site-title {
    margin: 5px 0 0 0;
    color: white;
    text-transform: uppercase;
}

/* Navigation */
#main-nav {
    float: right;
    width: auto;
}

#main-nav li a {
    border-radius: 0;
    color: #f5f5f5;
    font-size: 160%;

    transition: all .1s ease-out;
}

#main-nav li a:hover,
#main-nav li a:focus {
    background-color: inherit;
    color: #d35400;
}

#main-nav .nav-center ul {
    text-align: right;
}

#main-nav .nav-pills > li {
    float: right;
}

